body {
  height: 100vh;
  width: 100%;
}

.loginPage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home{
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.projects{
  height: 30%;
  width: 100%;
}
.tasks{
  height:70%;
  width: 100%
}
