body {
  height: 100vh;
  width: 100%;
}

.loginPage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.projectCard {
  width: 16rem;
  height: 12rem;
}

.tasks {
  width: 100%;
}
